* {
	-fx-background-repeat: no-repeat;
	-fx-background-size: 30px;
    -fx-fill: white;
    -fx-font-size: 14;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: #333;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;;
}

*:pressed:hover {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}