* {
	-fx-background-repeat: no-repeat;
	-fx-background-size: 30px;
	-fx-font-family: "Roboto Condensed";
    -fx-fill: white;
    -fx-font-size: 14;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: #2c8f09;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;;
}

*:hover {
	-fx-background-color: #277562;
}

*:pressed:hover {
	-fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}